.editor {
  width: 100%;
  height: 100%;
  position: relative;
  /* background: red; */
}

.editor-arrow-ghost {
  border: 1px dotted white;
  cursor: pointer;
  border: none;
  color: black;
  opacity: 0.2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  /* font-weight: bold; */
  background: rgba(255, 255, 255, 0.518);
  font-size: 11px;
}

.editor-arrow-ghost:hover {
  opacity: 1;
  border: 1px dotted red;
  background: red;
  color: white;
}

.editor-arrow-ghost.selected {
  border: 1px dotted red;
  background: rgba(246, 13, 13, 0.402);
  color: white;
  opacity: 0.8;
}

.editor-btns {
  position: absolute;
  /* border: 1px solid red; */
  top: 0;
  width: 100%;
  padding: 10px;
  display: flex;
  gap: 3px;
}

.editor-container-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* opacity: 0.2; */
  filter: invert(1);
}

.editor .stopper:not(.selected),
.editor .arrow:not(.selected),
.editor .line:not(.selected),
.editor .arrival:not(.selected) {
  opacity: 0.5;
  /* background: red; */
}

/* .editor .stopper,
.editor .arrow,
.editor .line,
.editor .arrival {
  opacity: 0.2;
} */

.editor .arrow {
  transition: none;
}

.editor .stopper:hover,
.editor .arrow:hover,
.editor .line:hover,
.editor .arrival:hover {
  opacity: 0.8;
}

.editor-options {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* border: 1px solid red; */
  padding: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editor-options input {
  width: 60px;
}

.editor-arrow-options {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .editor-arrow-options select {
  height: 30px;
} */

.editor-range {
  display: flex;
  color: white;
}

.editor-label {
  pointer-events: none;
  display: flex;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  color: black;
  width: 50px;
  /* height: 15px; */
  /* border-radius: 50%; */
  justify-content: center;
  align-items: center;
  z-index: 10;
  font-size: 10px;
  /* opacity: 0.2; */
}

.editor-label:hover {
  opacity: 1;
  z-index: 11;
}
