.line {
  position: absolute;
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #e0e0e0 50%,
    #b0b0b0 51%,
    #808080 100%
  );

  /* TODO: la velocidad debe ser configurable */
  transition: transform var(--speed) ease;
}

.line.vertical {
  background: linear-gradient(
    to right,
    #ffffff 0%,
    #e0e0e0 50%,
    #b0b0b0 51%,
    #808080 100%
  );
}

button.line {
  border: 0;
  cursor: pointer;
}

button.line.selected {
  background: red;
}

button.line.highlight {
  background: blue;
}
